:root {
    --zach-blue: #3895A7;
    --dark-blue: #276673;
    --light-blue: #9BE4F2;

    --sea-white: #E1ECEB;
    --sand: #F8EFD8;
    
    --sunglow: #FFC955;

    --white: #FFFFFF;
    --rich-black: #0C0E16;  
}

.dark-current-text {
    background: -webkit-linear-gradient(left,var(--rich-black), var(--dark-blue));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.cuban-current-text {
    background: -webkit-linear-gradient(left,var(--dark-black), var(--zach-blue));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.light-current-text {
    background: -webkit-linear-gradient(left,var(--light-blue), var(--sea-white));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.beach-foam-text {
    background: -webkit-linear-gradient(left,var(--light-blue), var(--sea-white), var(--sand));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}




.center-text-align {
    text-align: center;
}




.light-blue-full-bleed {
    /* set background color to be full width of page. */
    background-color: var(--light-blue);
    box-shadow: 0 0 0 100vmax var(--light-blue);
    clip-path: inset(0 -100vmax); 
}

.zach-blue-full-bleed {
    background-color: var(--zach-blue);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}



body {
    background-color: var(--sand);
}





h1 {
  color: var(--zblue);
}



body {
    width: 100%;
}
