{{/* Any image in markdown will be processed through this code. 
        ![.Text](.Destination ".Title")  
*/}}

{{$full_img_path := .Destination}}



{{/* Change routing to grab image for the web for all locations */}}
{{if or (in $full_img_path "www.") (in $full_img_path "https://")}}
    {{$full_img_path = .Destination}}
{{else}}
{{/* /portfolio/learning-paths/learning-path-main.PNG */}}
    {{$path_front := path.Dir .Page.RelPermalink }}
    {{$full_img_path = printf "%s/%s" $path_front  .Destination}}
{{end}}

{{/* Check if  should center the image and caption*/}}
{{$center := "#center"}}

<img src="{{ $full_img_path | safeURL }}" alt='Image Alt Text: {{ replace .Text $center "" }}' title="{{ .Title }}" class="content-uploaded-image {{if strings.HasSuffix .Text $center}}centered{{end}}" />
{{if .Title}}
    <p class="content-image-caption {{if strings.HasSuffix .Text $center}}centered{{end}}">{{.Title}}</p>
{{end}}