{{/*
    Website homepage.
*/}}
{{ define "main" }}

{{ $discipline := ""}}
{{ $skill := ""}}
{{ $details := ""}}



{{ with .Site.GetPage "/learning-paths" }}{{ .Title }}{{.Params.context}}{{.Permalink}}{{ end }}


<nav role="navigation" class="light-blue lighten-1">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"
        ><i class="material-icons menu">menu</i></a
      >
    </div>
  </nav>
  <div class="section">
    <div class="container">
      <br><br>
      <h1 class="header center-align">Zach Lasiuk</h1>
      <div class="row center-align">
        <h5 class="header col s12">
            "The intersection of multiple disciplines is where true <span style="color: green;">innovation</span> happens." - <a style="color:blue; text-decoration: underline;">The Medici Effect</a>
        </h5>
      </div>
        <div class="rcircle">
          <div class="txt">Foo Bar!</div>
        </div>
      <br><br>
    </div>
  </div>

  <div class="container" style="border: 1px solid black">
    <div class="section">
      <div class="row" style="gap: 36px;">
        <div class="col s12 m4">
            {{ $discipline = "UX/UI Design"}}
            {{ $skill      = "Certified Usability Analyst - HFI\nDesign Thinking - Harvard"}}
            {{ $details    = "Learned how to apply human factors - psychological and physiological principles - to product and system design, as well as design thinking innovation techniques."}}
            {{partial "homepage-cards.html" (dict "context" . "discipline" $discipline "skill" $skill   "details" $details) }}
        </div>

        <div class="col s12 m4">
            {{ $discipline = "Software Engineering"}}
            {{ $skill      = "B.S. ECE - Boston University"}}
            {{ $details    = "Learned about Electrical and Software Engineering from first principles, supplemented by startup engineering experiences."}}
            {{partial "homepage-cards.html" (dict "context" . "discipline" $discipline "skill" $skill   "details" $details) }}
        </div>

        <div class="col s12 m4">
            {{ $discipline = "Research"}}
            {{ $skill      = "Certified Usability Analyst - HFI"}}
            {{ $details    = "Learned data gathering methodologies and iterative usability testing techniques."}}
            {{partial "homepage-cards.html" (dict "context" . "discipline" $discipline "skill" $skill   "details" $details) }}
        </div>

      </div>

      <div style="height: 36px"></div>
      
      <div class="row" style="gap: 36px;">
        <div class="col s12 m4">
            {{ $discipline = "Community Leader"}}
            {{ $skill      = "Community Leadership Core - Jono Bacon"}}
            {{ $details    = "Learning about how to start, sustain, and grow a world-class community from the Ubuntu community leader."}}
            {{partial "homepage-cards.html" (dict "context" . "discipline" $discipline "skill" $skill   "details" $details) }}
        </div>

        <div class="col s12 m4">
            {{ $discipline = "Ethics"}}
            {{ $skill      = "Young SDG Innovators Program - UN\nFoundations of Humane Tech - CHT"}}
            {{ $details    = "Learned about how to effectively apply ethical design within for-profit companies, as well as exploring the solution space for game theoretic economies."}}
            {{partial "homepage-cards.html" (dict "context" . "discipline" $discipline "skill" $skill   "details" $details) }}
        </div>

        <div class="col s12 m4">
            {{ $discipline = "Communication"}}
            {{ $skill      = "Sharpen Your Communication - Stanford"}}
            {{ $details    = "Learned behavioral science research behind effective communication practices to help refine my communication skills to be a compelling leader."}}
            {{partial "homepage-cards.html" (dict "context" . "discipline" $discipline "skill" $skill   "details" $details) }}
        </div>
    </div>

    <div style="height: 36px"></div>
      
    <div class="row" style="gap: 36px;">
        <div class="col s12 m4">
            {{ $discipline = "Music"}}
            {{ $skill      = "15+ Years Gigging"}}
            {{ $details    = "Learned how to capture the attention of crowds, leading the human brain through cycles of tension and release."}}
            {{partial "homepage-cards.html" (dict "context" . "discipline" $discipline "skill" $skill   "details" $details) }}
        </div>

        <div class="col s12 m4">
            {{ $discipline = "Product Management"}}
            {{ $skill      = "Wicked Problem Solving Facilitator - PMI\nAssessing New Business Ideas - Harvard"}}
            {{ $details    = "Learned techniques to solve complex problems by asking the right questions, visualizing information, and getting people to act."}}
            {{partial "homepage-cards.html" (dict "context" . "discipline" $discipline "skill" $skill   "details" $details) }}
        </div>
    </div>


    </div>
    <br><br>
  </div>












  <div class="container">
    <div class="section">
      <div class="row" style="gap: 8px;">
        <div class="col s12 m4">
          <h2 class="center-align">
            <i class="medium material-icons">flash_on</i>
          </h2>
          <h5 class="center-align">Speeds up development</h5>

          <p>
            We did most of the heavy lifting for you to provide a default
            stylings that incorporate our custom components. Additionally, we
            refined animations and transitions to provide a smoother
            experience for developers.
          </p>
        </div>

        <div class="col s12 m4">
          <h2 class="center-align">
            <i class="medium material-icons">group</i>
          </h2>
          <h5 class="center-align">User Experience Focused</h5>

          <p>
            By utilizing elements and principles of Material Design, we were
            able to create a framework that incorporates components and
            animations that provide more feedback to users. Additionally, a
            single underlying responsive system across all platforms allow for
            a more unified user experience.
          </p>
        </div>

        <div class="col s12 m4">
          <h2 class="center-align">
            <i class="medium material-icons">settings</i>
          </h2>
          <h5 class="center-align">Easy to work with</h5>

          <p>
            We have provided detailed documentation as well as specific code
            examples to help new users get started. We are also always open to
            feedback and can answer any questions a user may have about
            Materialize.
          </p>
        </div>
      </div>
    </div>
    <br><br>
  </div>


  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Company Bio</h5>
          <p>
            We are a team of college students working on this project like
            it's our full time job. Any amount would help support and continue
            development on this project and is greatly appreciated.
          </p>
        </div>
        <div class="col l3 s12">
          <h5>Settings</h5>
          <ul>
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Connect</h5>
          <ul>
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by
        <a
          class="us"
          href="https://materializecss.github.io/materialize"
          target="_blank"
          rel="noopener noreferrer"
          >Materialize</a
        >
      </div>
    </div>
  </footer>




{{end}}